<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="navbarHeader">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <div class="headerIcon">
                <i class="fas fa-shield-alt fa-2x"></i>
                <p>Compra protegida en linea</p>
            </div>
        </li>
        <li class="nav-item">
            <div class="ml-4 headerIcon">
                <i class="fas fa-truck fa-2x"></i>
                <p>Envío gratis en Colombia</p>
            </div>
        </li>
    </ul>
    <span class="navbar-text white-text">
            <div class=" headerIcon">
                <i class="fas fa-phone fa-2x"></i>
                <a href="tel:8025366"><p class="mt-1">3057519835</p></a>
            </div>
        </span>
</nav>

<!--992-->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="navbarPrincipal">
    <a class="navbar-brand" href="#" id="linkMascota">Mascota Segura</a>
    <button class="navbar-toggler third-button px-3" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fab fa-android" style="color: rgb(24,57,43);" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav nav nav-justified w-100" id="listNavbar">
            <li class="nav-item">
                <a class="nav-link" href="https://mascotasegura.co">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarProducto" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu dropdown-primary" style="background-color: rgba(255, 255, 255, 0.46);"
                     aria-labelledby="navbarProducto">
<!--                    <a class="dropdown-item" href="https://mascotasegura.co/producto/clasica">Placa clasica</a>-->
                    <a class="dropdown-item" href="https://mascotasegura.co/producto/premium">Placa premium</a>
                    <a class="dropdown-item" href="https://mascotasegura.co/producto/personalizada">Placa
                        personalizada</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.mascotasegura.co/comunidad">Preguntas frecuentes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarContacto" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Contactanos</a>
                <div class="dropdown-menu dropdown-primary" style="background-color: rgba(255, 255, 255, 0.46);"
                     aria-labelledby="navbarContacto">
                    <a class="dropdown-item" href="https://mascotasegura.co/contactanos">Trabaja con nosotros</a>
                    <a class="dropdown-item" href="https://mascotasegura.co/contactanos">Servicio al cliente</a>
                    <a class="dropdown-item" href="https://www.instagram.com/mascotasegura.co/" target="_blank">Redes sociales</a>
                    <a class="dropdown-item" href="https://mascotasegura.co/aliados">Marcas aliadas</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark" id="navbarMobil">
    <a class="navbar-brand text-center">Mascota Segura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://mascotasegura.co">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarProducto" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Productos</a>
                <div class="dropdown-menu dropdown-primary" style="background-color: rgb(24, 57, 43)"
                     aria-labelledby="navbarProducto">
<!--                    <a class="dropdown-item" href="https://mascotasegura.co/producto/clasica">Placa clasica</a>-->
                    <a class="dropdown-item" href="https://mascotasegura.co/producto/premium">Placa premium</a>
                    <a class="dropdown-item" href="https://mascotasegura.co/producto/personalizada">Placa
                        personalizada</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.mascotasegura.co/comunidad">Preguntas frecuentes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarContacto" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Contactanos</a>
                <div class="dropdown-menu dropdown-primary" style="background-color: rgb(24, 57, 43)"
                     aria-labelledby="navbarContacto">
                    <a class="dropdown-item" href="https://mascotasegura.co/contactanos">Trabaja con nosotros</a>
                    <a class="dropdown-item" href="https://mascotasegura.co/contactanos">Servicio al cliente</a>
                    <a class="dropdown-item" href="https://www.instagram.com/mascotasegura.co/" target="_blank">Redes sociales</a>
                    <a class="dropdown-item" href="https://mascotasegura.co/aliados">Marcas aliadas</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


