<% include ../partials/head.ejs %>
<style>
    #content a{
        color: black !important;
    }
    p a{
        text-decoration: underline !important;
    }
    .btn{
        text-decoration: none !important;
    }
</style>
<div class="navbar"></div>
<div style="margin-top: 4pc;"></div>

<div class="container">
    <div id="content" class="content">
        <h1>Preguntas frecuentes</h1>
        <h3>¿Cuanto dura mi placa?</h3>
        <p>Tu placa mascota segura no necesita cambios ni baterias, funcionará para siempre!</p>

        <h3>¿Que tengo que hacer si quiero cambiar la información de mi mascota?</h3>
        <p>Deberás leer el código QR que encontrarás en la caja, este abrirá el perfil de tu mascota, al final de la pagina encontrarás el botón "editar información"</p>

        <h3>¿Donde puedo conseguir mi placa mascota segura?</h3>
        <p>Puedes contactarte con nosotros llamandonos al <a class="btn btn-outline-primary btn-sm" role="button" href="tel:+573057519835">+57 305 7519835</a> o escribiendo al <a class="btn btn-outline-success btn-sm" role="button" href="https://wa.me/573057519835">+57 305 7519835</a>, o visitar algunas de nuestras veterinarioas aliadas, además de Mercado Libre</p>

        <h3>¿Que pasa si pierdo el código QR que venia en la caja?</h3>
        <p>No te preocupes! Sigue <a href="/contactanos">este link</a> para comunicarte con nuestro servicio de soporte</p>

        <h3>¿Que pasa si pierdo mi placa Mascota Segura?</h3>
        <p>Sigue <a href="/contactanos">este link</a> para ponerte en contacto con nosotros</p>

        <h3>¿Que pasa si no puedo leee mi codigo QR</h3>
        <p>Debes verificar que la placa este limpia. Nuestros códigos contienen información duplicada que asegura el correcto funcionamiento de la placa aún si esta se encuentra dañada hasta en un 30%</p>

        <h3>¿Como verifico que la placa de mi mascota tiene toda la información?</h3>
        <p>Solo debes leer el código QE o acercar tu celular si este cuenta con tecnología NFC, así podrás ver toda la información que has proporcionado</p>

        <h3>¿Como funciona el sistema de geolocalización?</h3>
        <p>Para obtener los datos de geolocalización, mascota segura® obtiene la latitud y longitud del navegador de quien escanee el código QR o el chip de la placa, por lo que sólo es posible acceder a esta si obtenemos los permisos necesarios por parte de esta persona</p>

        <h3>¿Como funciona el código QR?</h3>
        <p>El código QR es un código 2D, es la evolución del código de barras, significa Quick Response</p>

        <h3>¿Como funciona el chip NFC?</h3>
        <p>Es un sistema de radiofrecuencia, que oscila entre los 13.56 Mhz, NFC significa Near Field Communication, es la tecnología que usan las tarjetas de contacto como las tarjetas de crédito o transporte público</p>

        <h3>¿Necesito una app para leer mi placa?</h3>
        <p>La mayoria de telefonos actuales lee códigos QR sin necesidad de aplicaciónes de terceros, sin embargo, solo basta con buscar en tu tienda de aplicaciones una aplicación para la lectura de códigos QR, la mayoria de estas son gratis y muy faciles de usar.<br>
        Si tu telefono celular ya cuenta con tecnología NFC, solo debes acercarlo a la placa y la reconocerá automaticamente</p>

        <h3>¿Con quién me comunico si no puedo editar los datos de la placa?</h3>
        <p>Puedes seguir <a href="contactanos">este link</a>, seleccionar soporte tecnico y escribir tus datos y comentarios, nosotros nos comunicaremos contigo lo antes posible</p>
        <h3>¿Que pasa si aparece mi placa registrada?</h3>
        <p>Si tu placa ya aparece registrada, tienes que contactarte directamente con nosotros llamandonos al <a class="btn btn-outline-primary btn-sm" role="button" href="tel:+573057519835">+57 305 7519835</a> o escribiendo al <a class="btn btn-outline-success btn-sm" role="button" href="https://wa.me/573057519835">+57 305 7519835</a></p>

        <h3>¿Que pasa si mi mascota se pierde?</h3>
        <p>Tranquilo! estamos para ayudarte, solo debes leer el código QR que venía en la caja de tu placa mascota segura, allí debes presionar el botón "Me perdí", que activará el sistema de geolocalización en la placa, proporcionará información acerca de su perdida<br>
        Cuando sea leido el código QR o chip NFC de la placa de tu mascota te enviaremos una notificación con su ubicación exacta.<br>
        Tambien puedes ingresar al perfil de tu mascota usando el código QR mencionado antes para abrir el mapa con los lugares en que se ha visto a tu mascota, presionando el botón "Abrir mapas con los lugares en donde lo hemos visto", allí encontraras indicaciones para llegar al lugar donde se encuentre tu mascota</p>
    </div>
</div>


<% include ../partials/footer.ejs %>
