
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mascota Segura | Bienvenida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style type="text/css">
        .titulo{
            text-align: center;
            font-size: 4vw;
        }
        .titulo2{
            font-size: 2vw;
            text-align: center;
        }
        .cuerpo{
            font-size: 1.5vw;
        }
        @media only screen and (max-width: 1000px) {
            .titulo{
                text-align: center;
                font-size: 8vw;
            }
            .titulo2{
                font-size: 5vw;
                text-align: center;
            }
            .cuerpo{
                font-size: 3vw;
            }
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body" >
                    <p class="titulo">Gracias!</p>
                    <p class="titulo2">por registrarte</p>
                    <p class="cuerpo">Ahora eres parte de una comunidad dedicada a cuidar a tu mascota, tendras acceso a contenido especial como noticias, foros, manuales y un sin fin de herramientas utiles para la proteccion de tu mascota</p>
                    <img src="/mascotas/muestra/nuevacompra.png" style="width: 100%;">
                    <a class="btn btn-primary" href="https://www.mascotasegura.co">
                        Continuar
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

</body>
</html>
