<% include ../partials/head.ejs %>
<div class="navbar"></div>
<div style="margin-top: 7pc;"></div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <h1 style="font-size: 5rem; text-align: center;">Hola</h1>
            <img src="img/bienvenida.png" style="width: 90%;">
            <p style="font-size: 1.3rem;">
            Sabemos que te preocupa el bienestar de tu mascota, por eso hemos diseñado un sistema de protección ideal para que puedas estar seguro de que tu mascota siempre encuentre su camino a casa<br>
            <br>
            La placa mascota segura® cuenta con tecnología de chip NFC y codificación QR, que hará más rápida y efectiva su identificacoón cuando otras personas lo vean, pero no solo eso! también verán los datos de su dueño, telefonos, lugar de residencia y nombre, para que puedan comunicarse contigo en el menor tiempo posible<br><br>
            Además podras acceder a la ubicación satelital de tu mascota cuando su placa haya sido leida. Genial, no?
            <br><br>
            Ahora que ya sabes los beneficios de tener una placa Mascota Segura puedes adquirirla llamando al <a class="btn btn-outline-primary btn-sm" role="button" href="tel:+573057519835">+57 305 7519835</a>o escribiendo al <a class="btn btn-outline-success btn-sm" role="button" href="https://wa.me/573057519835">+57 305 7519835</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<% include ../partials/footer.ejs %>
