<% include ../partials/head.ejs %>
<div class="navbar"></div>
<div style="margin-top: 4pc;"></div>

<div class="container" style="margin-top: 2pc;">
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">El perro abandonado que esperó a su dueño bajo la nieve
                    durante 6 meses</h5>
                <p class="card-text">El animal estuvo en un paradero de buses en Siberia aguardando al regreso de su
                    dueño. No permitía que lo movieran y soportó hasta los 30 grados bajo cero del invierno en esa
                    apartada región rusa.</p>
                <img src="/img/noticias/perro-espera-a-su-dueno.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A1">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">El perro abandonado que esperó a su dueño bajo la nieve durante
                                    6 meses</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/perro-espera-a-su-dueno.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                Alrededor de 6 meses pasó un perro en un paradero de bus en Siberia esperando el regreso
                                de su dueño. Cuando fue abandonado en una carretera de Mametkino, un pueblo a más de
                                2.500 kilómestros de Moscú, en esa remota región aún era verano. Pronto llegó el furioso
                                y mítico invierno siberiano, con temperaturas por debajo de los 30 grados centígrados, y
                                el perro se mantuvo allí, a la intemperie.
                                <br>
                                <br>
                                Pronto, el perro atrajo la atención de los locales, según reportó el Daily Mail, que
                                reconstruyó esta historia. Los vecinos percibieron que casi lo único que lo alteraba era
                                el paso de carros de color gris por la carreretera, de por sí tan vacía que no era fácil
                                encontrárselos. Cuando veía uno de esos, el animal se emocionaba, por lo que los
                                pobladores concluyeron que su antiguo dueño tenía un carro de esas características.
                                Los habitantes de Mametkino intentaron llevarse al perro a sus casas, pero él se
                                enfurecía y lo impedía. Por eso, se limitaron a dejarle comida y lo apodaron Hachiko, en
                                honor a una fiel mascota japonesa que, dice la historia, esperó 9 años a su dueño, quien
                                ya había fallecido.
                                <br>
                                <br>
                                En otoño, cuando las temperaturas empezaron a bajar, los locales le pusieron una casa
                                para perros, pero el animal prefirió seguir acostándose en la paja. Cuando llegó el
                                invierno y la nieve cayó sobre la región, la preocupación de todos aumentó. La
                                temperatura era tan dura, hasta 30 grados bajo cero, que la comida que le dejaban se
                                congelaba antes de que el perro pudiera igerirla.
                                Ante las nuevas circunstancias, los medios rusos contaron la historia del perro y una
                                patrulla de rescate animal viajó hasta la región para hacerse cargo. Sin embargo, el
                                Hachiko ruso no confiaba en ellos y no permitía que se le acercaran. Los rescatistas
                                intentaron jugar con él y le pudieron poner una manta para protegerlo del frío severo.
                                Así lograron que él fuera más amigable.
                                <br>
                                <br>
                                "Simplemente admiro a este perro, su fidelidad. No es lo que siempre ves en las
                                personas", dijo Irina, una de las voluntarias que finalmente lo adoptó, según reportó el
                                Daily Mail. Ahora, el Hachiko ruso vive con ella, un perro San Bernardo y dos gatos.
                                <br>
                                <br>
                                Recuperado de www.semana.com
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">Las mascotas ayudan a los mayores a lidiar con problemas de salud</h5>
                <p class="card-text">Los animales de compañía ayudan a reducir el estrés y a ser físicamente más activos
                </p>
                <img src="/img/noticias/noticia1.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A2">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A2" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Las mascotas ayudan a los mayores a lidiar con problemas de
                                    salud</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia1.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                Un gato acurrucado, un perro que mueve la cola, un periquito que canta o incluso un pez
                                dorado sereno pueden ayudar a los mayores a sobrellevar los problemas de salud mental y
                                física, ser más activos y relacionarse con otras personas, según una encuesta realizada
                                por la Universidad de Michigan (Estados Unidos).
                                <br>
                                <br>
                                El 55 por ciento de los adultos estadounidenses de 50 a 80 años tienen una mascota,
                                según los nuevos hallazgos, y más de la mitad de ellos tienen varias mascotas. Más de
                                tres cuartas partes de los dueños de mascotas dicen que sus animales reducen su estrés,
                                y casi la misma cantidad asegura que les dan un sentido de propósito. Pero el 18 por
                                ciento también lamenta que tener una mascota o mascotas supone una carga para su
                                presupuesto económico mensual.
                                <br>
                                <br>
                                Dos tercios de todos los dueños de mascotas, y 78 por ciento de los dueños de perros,
                                respondieron que su mascota les ayuda a ser físicamente activos, de acuerdo con los
                                nuevos hallazgos de la Encuesta Nacional sobre Envejecimiento Saludable de Estados
                                Unidos.
                                <br>
                                <br>
                                Para aquellos que reportaron que su salud era buena o mala, el tener una mascota parecía
                                ofrecer aún más beneficios. Más del 70 por ciento de estos adultos mayores evidenciaron
                                que su mascota les ayuda a lidiar con síntomas físicos o emocionales, y el 46 por ciento
                                señaló que sus mascotas ayudan a distraer su mente del dolor.
                                <br>
                                <br>
                                "Sabemos desde hace mucho tiempo que las mascotas son una fuente de apoyo. Aunque los
                                beneficios de las mascotas son significativos, las conexiones sociales y las actividades
                                con amigos y familiares también son claves para la calidad de vida a lo largo de la
                                vida", explica la doctora Cathleen Connell, una de las responsables de la encuesta.
                                <br>
                                <br>
                                El compañerismo y la conexión social fueron efectos secundarios positivos de la
                                propiedad de mascotas para muchos de los encuestados. De hecho, más de la mitad de los
                                dueños de mascotas dijeron que lo hicieron específicamente para tener un compañero, y un
                                porcentaje ligeramente mayor manifestó que sus mascotas duermen en la cama con ellos. El
                                sesenta y cinco por ciento de los dueños de mascotas argumentaron que tener una mascota
                                también les ayuda a conectarse con otras personas.
                                <br>
                                <br>
                                Tomado de www.levante-emv.com
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">Aprenda cómo darle los primeros auxilios a su mascota cuando sufra un
                    accidente</h5>
                <p class="card-text">Perros y gatos han pasado de ser un animal de compañía a ser parte de la familia.
                    Por lo general, aquellos que deciden tener una mascota suelen velar por su bienestar, sin embargo,
                    los animales no están exentos de sufrir un accidente. Ahora bien, ¿los propietarios de caninos y
                    felinos están preparados para afrontar esta situación?
                </p>
                <img src="/img/noticias/noticia2.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A3">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A3" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Aprenda cómo darle los primeros auxilios a su mascota cuando
                                    sufra un accidente</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia2.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                Una de las consultas más comunes en las urgencias de las clínicas veterinarias es cuando
                                los animales se fracturan o sufren una lesión muscular. Omar Leonardo Aristizábal,
                                decano de la facultad de Medicina Veterinaria y Zootecnia de la Universidad del Tolima,
                                recomienda que, cuando se presente una situación como las mencionadas, es posible que su
                                mascota sufra lesiones de los siguientes tipos: accidente automovilístico
                                (atropellamiento o salto de algún vehículo en movimiento); fracturas y/o luxaciones
                                (lesión consistente en la salida o desplazamiento de un hueso de una articulación); y
                                lesiones producto de saltos o caídas de alturas considerables.
                                Para dar una atención oportuna cuando se presenten estos casos, mientras acude a su
                                veterinario de confianza o el centro veterinario más cercano, Aristizábal hace varias
                                recomendaciones al respecto. “Lo primordial es que el propietario inmovilice a su
                                mascota, esto debe tratar de hacerse de la mejor manera posible, debe evitar movimientos
                                bruscos frente a este tipo de situaciones”, explicó el experto.
                                <br>
                                <br>
                                LOS CONTRASTES
                                <br>
                                <br>
                                OMAR ARISTIZÁBAL PÁEZDECANO FACULTAD DE MED. VETERINARIA Y ZOOTECNIA, UNIVERSIDAD DEL
                                TOLIMA
                                <br>
                                <br>
                                “Lo primordial es que el propietario inmovilice a su mascota, esto debe tratar de
                                hacerse de la mejor manera posible, debe evitar movimientos bruscos frente a este tipo
                                de situaciones”.
                                <br>
                                <br>
                                En el caso de que usted logre identificar que su mascota tiene una fractura, “deberá
                                intentar entablillar su extremidad, esto con la finalidad de evitar que los fragmentos
                                de hueso generen algún tipo de lesión adicional a los músculos o a la piel de la mascota
                                y además le genere más dolor”, comentó el Decano.
                                <br>
                                <br>
                                Cuando ocurra un accidente automovilístico, en las lesiones suelen existir erosiones en
                                la piel (raspaduras), o pérdida total o parcial de la piel y/o músculos, para ello, “es
                                importante cubrir el área con vendas o gasas limpias y preferiblemente humedecidas,
                                esto, con la finalidad de proteger el área lesionada y evitar posibles contaminaciones
                                de la lesión”. Aristizábal enfatizó en que estos son consejos para que los tenedores de
                                mascotas brinden los primeros auxilios a los animales, sin embargo, es importante que
                                consulten a un especialista. “Si su mascota no presentara ningún tipo de señal o lesión
                                visible, no se confíe, lo mejor es que consulte a su veterinario de confianza, ya que
                                pueden existir lesiones internas que podrían comprometer la salud de su mascota”,
                                agregó.
                                <br>
                                <br>
                                Los especialistas, por medio de exámenes pueden evidenciar las lesiones internas de su
                                mascota. “Desde el punto de vista del médico veterinario, es de vital importancia poder
                                obtener la mayor información por parte del propietario, así como, realizar los exámenes
                                paraclínicos complementarios: exámenes laboratoriales, radiografías, ecografías, entre
                                otros. Se deberá realizar un examen clínico completo, buscando descartar complicaciones
                                como: neurológicas, vasculares y respiratorias, ya que algún tipo de lesión en estos
                                sistemas podrán complicar el cuadro clínico de la mascota”, agregó Aristizábal.
                                Es importante que lleve a su mascota al veterinario con cierta periodicidad de tiempo.
                                En la actualidad hay varios servicios para el bienestar de su mascota: médicos
                                veterinarios que realizan las consultas a domicilio, pólizas de seguros que cubren
                                accidentes, cirugías y servicios exequiales.
                                <br>
                                <br>
                                Si bien lo anterior son consejos para prestarle los primeros auxilios a una mascota, es
                                importante que se dirija al punto de atención más cercano para tener certeza sobre el
                                estado de salud del animal.
                                <br>
                                <br>
                                Tomado de larepublica.com
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">Cuando los dueños son los que hacen obesas a las mascotas</h5>
                <p class="card-text">Estos animales acaban compartiendo nuestro modo de vida sedentario y una
                    alimentación nada sana
                </p>
                <img src="/img/noticias/noticia3.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A4">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A4" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cuando los dueños son los que hacen obesas a las mascotas</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia3.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                Dar un pequeño capricho a tu mascota de vez en cuando no viene mal. Pero repetimos,
                                pequeño y de vez en cuando, ya que si lo hacemos de forma rutinaria lo único que estamos
                                haciendo es seguir un mal hábito en la alimentación de nuestro animal que, tarde o
                                temprano, repercutirá en su salud. Y es que los dueños somos los responsables si nuestra
                                mascota está pasada de kilos o, por el contrario, se encuentra en su peso óptimo.
                                <br>
                                <br>
                                Dueños y mascotas comparten obesidad
                                <br>
                                <br>
                                Y ya ni que decir tiene si junto con ese trozo de más que le damos a nuestro perro o
                                nuestro gato, nosotros hacemos lo mismo y picamos alimentos poco saludables. Nosotros
                                engordamos y nuestra mascota sigue el mismo patrón. Y es que compartimos las mismas
                                pautas a la hora de coger kilos.
                                <br>
                                <br>
                                Así, si hacemos una mayor ingesta calórica pero luego no nos movemos, ahí está la
                                respuesta a ese peso de más. Y con las mascotas pasa prácticamente lo mismo; sobre todo
                                si se trata de animales de compañía de razas pequeñas.
                                <br>
                                <br>
                                Es una tendencia al alza como indican los estudios de la norteamericana Asociación para
                                la Prevención de la Obesidad de las Mascotas. Con los datos del pasado 2017 se pudo
                                comprobar cómo la obesidad afecta a 6 de cada 10 gatos domésticos y a la mitad de los
                                perros. Es el resultado de que estas mascotas acaben compartiendo nuestro modo de vida:
                                vida sedentaria y una alimentación nada saludable.
                                <br>
                                <br>
                                ¿Y cuáles son las consecuencias? Parecidas a las nuestras: problemas articulares,
                                enfermedades cardiovasculares, cambios metabólicos o problemas respiratorios son solo el
                                comienzo de una larga lista.
                                <br>
                                <br>
                                Buenos hábitos
                                <br>
                                <br>
                                En definitiva, para mejorar la calidad de vida de nuestras mascotas, en lo que a su peso
                                se refiere, todos los expertos coinciden en una fórmula mágica. Prestar atención a la
                                alimentación que le damos, y a las cantidades, además de hacer algo de ejercicio físico
                                con ellas. Incluso nos vendrá bien a nosotros para cuidarnos.
                                <br>
                                <br>
                                Y no pienses que por tener un gato no hace falta la actividad física. Los gatos son
                                juguetones así que anímate a jugar con ellos. Con una pequeña pelota, un ovillo de lana
                                y un par de estanterías a las que subirse de un salto será más que suficiente.
                                <br>
                                <br>
                                Tomado de www.65ymas.com
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">La verdad sobre los dueños de mascotas</h5>
                <p class="card-text">Estadounidenses gastan más de US$75.000 millones cada año.
                    El incremento de los hogares en Estados Unidos que tienen una mascota ha crecido un 56% desde el año
                    1988.
                </p>
                <img src="/img/noticias/noticia4.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A5">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A5" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">La verdad sobre los dueños de mascotas</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia4.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                El fin de semana pasado cuando salió el sol de primavera en Nueva York, llevé a mi perro
                                al parque. Muchos tuvieron la misma idea. No es extraño: aunque Manhattan es una jungla
                                de hormigón, tiene una vasta población de perros. A menudo escuchas que la mitad de los
                                habitantes parecen tener perros, y que el número está creciendo.
                                <br>
                                <br>
                                Un análisis más científico de la tendencia, no sólo en Manhattan sino en EE. UU., se
                                puede extraer de ‘Dogs Have Masters, Cats Have Staff’ (Los perros tienen dueños, los
                                gatos tienen empleados) una investigación sobre las mascotas realizada por Colleen Kirk,
                                profesora de mercadotecnia del Instituto de Tecnología de Nueva York.
                                <br>
                                <br>
                                Kirk comienza confirmando que mis impresiones no son descabelladas: al parecer, 68% de
                                los hogares estadounidenses tienen una mascota, un incremento de 56% desde que la
                                Asociación Nacional de Propietarios de Mascotas (NPOA, por sus siglas en inglés) comenzó
                                a realizar la encuesta en 1988. Además, 48% tienen un perro, por un tercio que tienen un
                                gato.
                                <br>
                                <br>
                                La diferencia en las actitudes hacia los perros y gatos es aún más interesante. La
                                encuesta de la NPOA sugiere que los dueños gastan unos US$75.000 millones en sus
                                mascotas cada año, en comparación con US$46.000 millones hace una década y casi el
                                triple que hace dos décadas.
                                <br>
                                <br>
                                Sin embargo, son notablemente más generosos con los perros que con los gatos, gastando
                                un promedio de casi US$3.000 al año en los primeros y US$2.300 en los últimos. Esto
                                sugiere que los dueños de mascotas valoran a los perros más que a los gatos.
                                <br>
                                <br>
                                En un artículo en la revista Marketwatch, Kirk dice que cuando hizo su propia encuesta
                                de dueños de mascotas, encontró que “los dueños de perros, en promedio, dijeron que
                                pagarían US$10.689 para salvar la vida de sus mascotas”, mientras que los dueños de
                                gatos desembolsarían menos de la mitad.
                                <br>
                                <br>
                                ¿Por qué? Una explicación podría ser la riqueza relativa. Sin embargo, parece difícil
                                creer que los hogares caninos son dos veces más ricos que los felinos. Y, aunque el
                                tratamiento médico para algunos perros puede ser costoso, esto tampoco parece explicar
                                la brecha.
                                <br>
                                <br>
                                Kirk sospecha que el tema clave es la psicología y la cultura. “Los perros son famosos
                                por ser más obedientes que los gatos”, apunta. “Cuando los propietarios sienten que
                                tienen control sobre sus mascotas, desarrollan fuertes sentimientos de propiedad
                                psicológica y apego emocional”.
                                <br>
                                <br>
                                Para respaldar su argumento, les preguntó cuánto gastarían para salvar la vida de su
                                mascota si hubiera sido criada por otra persona. Luego preguntó cómo se sentirían si sus
                                perros comenzaran a comportarse como gatos, y viceversa.
                                <br>
                                <br>
                                Las respuestas sugirieron que los dueños de perros sólo les atribuían un valor
                                significativo a sus perros si ellos mismos habían criado a las mascotas; y el valor
                                percibido de los perros se derrumbaba si se les pedía a los dueños que imaginaran que el
                                perro se comportaba de una manera independiente y autosuficiente.
                                <br>
                                <br>
                                A la inversa, los gatos se volvían más valiosos si se percibía que tenían una conducta
                                similar a la de un perro, como por ejemplo respondiendo cuando sus dueños los llamaban.
                                “Los dueños de mascotas quieren ser amos, no sirvientes”, escribe Kirk. “No importa cuán
                                lindos sean tus gatitos, no pueden competir con los perros cuando se trata de darles la
                                sensación de dominio que buscan”.
                                <br>
                                <br>
                                Sospecho que muchos amantes de los gatos disputarían esto. Algunos dueños de perros
                                también. Mi familia, por ejemplo, no necesariamente ama a nuestra Golden Retriever
                                porque estamos “en control” sino porque ella le ofrece raíces y ritmo a la familia. Esto
                                no tiene precio en una época estresante y saturada de teléfonos inteligentes.
                                <br>
                                <br>
                                Y otros dueños de perros sienten lo mismo. La encuesta sugiere que los principales
                                beneficios de tener un perro se perciben como “compañía y amor”, “relajación y alivio
                                del estrés” y que son “buenos para la salud”. La seguridad no es un factor importante.
                                <br>
                                <br>
                                Esto se hace eco de los resultados de 2018 de la Encuesta Social General, un proyecto de
                                sondeo sobre las actitudes del público. Su informe afirmaba que los dueños de perros
                                tenían mejores lazos familiares, mejor salud y mayor bienestar que los de gatos; también
                                eran más alegres (36% de los amantes de perros dijeron que eran “muy felices”, en
                                comparación con 18% de los de gatos).
                                <br>
                                <br>
                                Sin embargo, el punto clave de Kirk sigue siendo que, en la medida en que el amor por
                                los perros está impulsado por la psicología y la cultura, resulta ser una tendencia
                                contraria a la intuición. Sí, puede parecer que vivimos en una época de revolución
                                tecnológica. Pero incluso en medio de toda esta innovación, muchos consumidores todavía
                                anhelan la conectividad física y el compromiso con una criatura viva, y que están
                                dispuestos a lidiar con el desorden.
                                <br>
                                <br>
                                Además, a pesar de todas las maravillas de la tecnología, nadie ha podido crear una
                                mascota robot que haya despegado. En cambio, la tendencia es tratar a los perros más
                                como personas que como robots; de ahí el ánimo de antropomorfizar a los perros, por
                                ejemplo, llevándolos a la oficina o viajando con ellos en aviones, o comprando comida
                                para perros que se parece a la comida humana. Piensa en eso la próxima vez que veas a
                                esos perros en el parque; son el recordatorio de que hay cosas más importantes en la
                                vida que un teléfono inteligente.
                                <br>
                                <br>
                                Tomado de portafolio
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">Bogotá tendrá un centro comercial exclusivo para mascotas</h5>
                <p class="card-text">Se trata de AniMall, un proyecto que contará con 4.000 metros cuadrados dedicados a
                    los animales de compañía.
                    El lugar cuenta con 104 locales, de los cuales 30 son de venta de mascotas y los 74 restantes están
                    dedicados a otro tipo de servicios.
                </p>
                <img src="/img/noticias/noticia5.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A6">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A6" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Bogotá tendrá un centro comercial exclusivo para mascotas</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia5.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                Desde el próximo año las mascotas contarán con un espacio exclusivo para ellos en Bogotá
                                y que permitirá a los dueños encontrar todo lo que necesitan para tener bien a su animal
                                de compañía en un solo lugar.
                                <br>
                                <br>
                                Se trata de AniMall, un centro comercial temático que estará ubicado en la zona
                                comercial del Restrepo y que vendrá cargado de servicios para los animales de compañía
                                de los capitalinos.
                                “Luego de ver el crecimiento que tienen los negocios de mascotas en el país, hace dos
                                años empezamos con este proyecto que concentrará todos los servicios que requieren los
                                colombianos para el buen trato de sus mascotas”, aseguró Alejandro Ramírez, creador del
                                proyecto.
                                <br>
                                <br>
                                Ramírez explica que este proyecto temático de 4.000 metros cuadrados, les dará a los
                                visitantes la oportunidad de encontrar en un solo lugar venta legal y controlada de
                                mascotas, servicios veterinarios y especialistas, servicios de peluquería, farmacias,
                                funerarias y hasta medicina prepagada.
                                <br>
                                <br>
                                “Dentro del proyecto también tenemos clínicas, venta de medicamentos y guarderías. Lo
                                que queremos es que las personas que tienen animales de compañía encuentren de forma
                                ordenada todo lo que encuentran en la actualidad en esta zona comercial”, dijo Ramírez.
                                <br>
                                <br>
                                Al respecto, el creador del proyecto mencionó que una de las razones de abrir el centro
                                comercial en el Restrepo es la trayectoria de este sector con la venta de animales
                                domésticos. Asegura que desde hace 70 años en este lugar existe el comercio de mascotas
                                como perros, gatos, aves y hasta peces, sin embargo dicho comercio se ha realizado de
                                manera informal.
                                <br>
                                <br>
                                “AniMall también tiene como objetivo darle una nueva cara al Restrepo en esta materia.
                                Que la gente se sienta tranquila de adquirir una mascota en un lugar que promueve la
                                protección animal y la legalidad en este sector, así como otros servicios que son de
                                ayuda para su cuidado”, agregó.
                                <br>
                                <br>
                                En AniMall los clientes se encontrarán con una diversidad de empresas de este nicho de
                                mercado. Según Ramírez, desde la marca más reconocida hasta el colombiano que está
                                iniciando su negocio en este sector tendrá un lugar en el centro comercial.
                                <br>
                                <br>
                                “Hay una mezcla de empresas, distribuidores de comidas grandes por ejemplo, pero también
                                hay personas con unas muestras espectaculares que muestran el ingenio de los colombianos
                                para emprender. Y a ellos queremos darles una oportunidad de que compartan su
                                experiencia y a través de AniMall se den a conocer”, afirmó el creador del proyecto.
                                <br>
                                <br>
                                El lugar cuenta con 104 locales, de los cuales 30 son de venta de mascotas y los 74
                                restantes están dedicados a otro tipo de servicios. Por ahora, mencionó Ramírez se está
                                llegando al punto de equilibro con una ocupación de entre el 40% y el 50%.
                                <br>
                                <br>
                                Junto con esto, el centro comercial contará con una terraza de 360 metros exclusiva para
                                exhibiciones como gimnasia, entrenamiento canino, lanzamientos de productos, etc., al
                                que podrán acceder tanto las empresas que hagan parte del establecimiento como aquellos
                                que quieran aprovechar el lugar para mostrar sus productos.
                                <br>
                                <br>
                                Se espera que el 15 de enero se estén entregando los locales y en marzo sea la apertura
                                de este centro comercial temático.
                                <br>
                                <br>
                                HABRÁ EN OTRAS CIUDADES
                                <br>
                                <br>
                                Debido a la buena acogida que ha tenido el proyecto, se espera que en unos cuatro años
                                se edifiquen al menos unos cinco centros comerciales más de este tipo en el país.
                                <br>
                                <br>
                                “Nos han ofrecido proyectos en Cali, Medellín, la Sabana y en la 170. Aunque es muy
                                rápido, disponemos de los predios y las inversiones para realizarlos así que esperamos
                                en unos cuatro años se replique AniMall en estas zonas”, aseveró Ramírez.
                                <br>
                                <br>
                                ALGUNAS CIFRAS
                                <br>
                                <br>
                                Según cifras de Kantar Worldpanel en Colombia existen más de 3'500.000 hogares con
                                mascotas, de los cuales, el 67% tienen perro, 18% gato y 16% tienen ambos.
                                <br>
                                <br>
                                Por su parte, Rafael España, director de la oficina de Asuntos Económicos de Fenalco,
                                señala que el 43% de los hogares, tanto rurales como urbanos en Colombia, tienen una
                                mascota, siendo los perros los de más preferencia con un 70%, seguido de aves y pájaros,
                                con un 15%; los gatos, con un 13%; los peces, con un 2%; y los hámsteres, con un 1%.
                                <br>
                                <br>
                                Con relación a la preferencia de mascotas, el directivo señaló que los hombres (38%)
                                como mujeres (37%) tienen gustos similares por los animales de compañía. Sin embargo,
                                los hombres eligen tener más perros (75%) que las mujeres (68%). A diferencia, ellas
                                prefieren la compañía de gatos (19%) frente a ellos (8%).
                                <br>
                                <br>
                                Tomado de Portafolio
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">¿Lo sabía? Llegó a Colombia el Airbnb para el cuidado su
                    mascota</h5>
                <p class="card-text">Se trata de 'Dog Houser' un portal que llega para ofrecer hospedajes familiares
                    para las mascotas.</p>
                <img src="/img/noticias/noticia6.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A7">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A7" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">¿Lo sabía? Llegó a Colombia el Airbnb para el cuidado su
                                    mascota</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia6.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                La aplicación con la que podemos buscar guardería para mascotas ya está en el país. ¿Lo
                                sabía? Llegó a Colombia el Airbnb para el cuidado su mascota.
                                <br>
                                <br>
                                ¿Buscando una alternativa encontrar con facilidad y rapidez un lugar donde su mascota
                                además de ser cuidada le sea dado mucho cariño? Ya ha llegado la solución.
                                <br>
                                <br>
                                Se trata de 'Dog Houser' una plataforma en la que podrá encontrar donde hospedar su
                                mascota mientras usted disfruta tranquilamente de sus vacaciones. Una alternativa que ha
                                sido llamada como el ‘Airbnb’ de las mascotas.
                                <br>
                                <br>
                                ¿CÓMO FUNCIONA?
                                <br>
                                <br>
                                En la aplicación se vienen manejando dos tipos de hospedajes, hospedaje sencillos y
                                hospedaje exclusivo para perros que no son habitualmente muy sociables o tienen alguna
                                enfermedad.
                                <br>
                                <br>
                                Para que pueda hacer uso de ella, la aplicación le mostrará los hospedajes que se
                                encuentran más cerca de su ubicación, además, un gran 'plus' que ofrecen, es que su
                                peludito podrá andar con tranquilidad por todas las áreas de la casa.
                                <br>
                                <br>
                                Lo bueno de esto, para aquellos que no confían en dejar su preciada mascota con un
                                desconocido, es que la aplicación le ofrece la posibilidad de realizar un monitoreo
                                constante de su peludito, esto gracias a las fotos y videos que los ‘houser’ le deben
                                enviar para saber el estado de su perro o gato.
                                <br>
                                <br>
                                Así que ya sabe, si va a salir de vacaciones y quiere dejar a su perro cuidado en un
                                excelente lugar, no dude de usar esta alternativa.
                                <br>
                                <br>
                                Tomado de Publimetro
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">¡Ojo! Tenga cuidado con estos objetos en su hogar si
                    tiene mascotas</h5>
                <p class="card-text">En nuestro diario vivir existen varios peligros para las mascotas en nuestras casas
                    de los que no somos totalmente conscientes</p>
                <img src="/img/noticias/noticia7.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A8">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A8" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">¡Ojo! Tenga cuidado con estos objetos en su hogar si tiene
                                    mascotas</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia7.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                En varias ocasiones se habla de tener cuidado con los chocolates por lo que pueden ser
                                perjudiciales para las mascotas, pero existen otras amenazas que no se suelen tener en
                                cuenta y están al alcance de los animales.
                                <br>
                                <br>
                                Henry Cortés es un veterinario que trabaja en una funeraria para mascotas y habló en
                                Mascotas BLU de BLU Radio sobre los principales peligros para las mascotas en el hogar.
                                El caso más importante y común para los gatos son las caídas desde pisos muy altos. En
                                varias ocasiones los felinos pueden deslizarse o saltar intentando cazar un insecto o un
                                ave. La solución recomendada por el veterinario es no abrir esas ventanas o conseguir
                                mallas protectoras para evitar accidentes.
                                <br>
                                <br>
                                Por su parte, los perros suelen tener más accidentes debido a objetos que encuentran en
                                la basura como latas, comida descompuesta o huesos. En caso tal de que haya consumido
                                uno de tales elementos es de vital importancia llevarlos de inmediato al veterinario.
                                No todos los peligros aparecen en internet
                                <br>
                                <br>
                                Cortés también comentó que existen varios objetos peligrosos que no suelen aparecer en
                                búsquedas de internet tales como hilos con agujas, plantas tóxicas y bolsas
                                autosellables.
                                <br>
                                <br>
                                Unos de los casos peculiares suceden con las lavadoras y secadoras, a las cuales los
                                animales pueden entrar debido al calor que emanan o por la comodidad de la ropa. El
                                veterinario recomienda estar pendiente de tales electrodomésticos en caso de tener
                                mascotas pequeñas.
                                <br>
                                <br>
                                Una recomendación importante que hace el experto es no darle medicamentos de uso humano
                                a las mascotas pues sus organismos no están preparados para tales químicos y pueden
                                intoxicarse.
                                <br>
                                <br>
                                Tomado de BLU Radio
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="color: #4d9900;">¿Por qué tu mascota tiene miedo a los truenos y a los
                    petardos?</h5>
                <p class="card-text">Consejos para evitar y aliviar el pánico que sufren muchos perros, gatos y otros
                    animales a los ruidos estridentes.<br>
                    Los ruidos estridentes como los de los truenos o los petardos aterrorizan a nuestros animales </p>
                <img src="/img/noticias/noticia9.png" style="width: 100%; margin-bottom: 1vw;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#A9">
                    Ver más
                </button>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" id="A9" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">¿Por qué tu mascota tiene miedo a los truenos y a los
                                    petardos?</h5>
                            </div>
                            <div class="modal-body">
                                <img src="/img/noticias/noticia9.png"
                                     style="width: 100%; margin-bottom: 1vw;">
                                Luca es una podenquita de 8 años, salvada del “corredor de la muerte” de una perrera.
                                Desde hace cuatro años vive segura, querida y bien alimentada con Fernando, su
                                adoptante. Disfruta corriendo por el campo, paseando por la ciudad, se lleva bien con
                                otros perros, con niños, es muy, muy cariñosa… una perra adorable. Solo tiene un
                                problema que le hace sufrir mucho: los ruidos de truenos, petardos, fuegos artificiales…
                                El miedo a los sonidos fuertes, a los ruidos estridentes, sobre todo en los perros,
                                provoca un gran sufrimiento a los animales. En algunos casos, se trata realmente de
                                pánico, y al escuchar el estruendo de la pirotecnia salen huyendo sin atender a las
                                llamadas de sus dueños y resulta difícil o imposible encontrarlos después. ¿Quien no ha
                                visto anuncios en redes sociales pidiendo ayuda para localizar a algún animal perdido de
                                esta forma? Algunos incluso mueren atropellados en esa loca huida, o pueden sufrir una
                                taquicardia y llegar a morir.
                                <br>
                                <br>
                                Luca, una perrita con pánico a los ruidos de la pirotecnia. Almudena Alameda
                                ¿Por qué aterrorizan los ruidos de petardos a nuestros animales? Pues básicamente porque
                                su capacidad auditiva es mucho mayor que la nuestra. Digamos que escuchan los sonidos
                                unas tres veces más altos que nosotros. Así, mientras los humanos nacemos con la
                                capacidad para escuchar sonidos de hasta 20.000 hertzios, los perros tienen un alcance
                                auditivo que va de 10.000 a 50.000 hertzios, y pueden escuchar a una distancia cuatro
                                veces superior a la que lo hacemos los humanos. Por su parte, los gatos son capaces de
                                registrar sonidos de hasta 65.000 hertzios.
                                <br>
                                <br>
                                Además, tenemos que pensar que ellos nos saben que los ruidos de petardos y fuegos
                                artificiales no implican peligro; ellos los interpretan como una amenaza, es como si,
                                por ejemplo, nosotros oyéramos el ruido de un bombardeo.
                                <br>
                                <br>
                                Este miedo genera en los animales una reacción física: su sistema nervioso libera mucha
                                adrenalina y cortisol, la hormona del estrés. Por eso hay animales que tiemblan, jadean,
                                vomitan, tienen diarrea o incluso taquicardias al escuchar ruido de petardos o truenos.
                                Por eso, hay que tener especial cuidado, porque tanto si están en casa como si se
                                encuentran en la calle o en el campo, pueden tratar de huir desesperadamente.
                                <br>
                                <br>
                                El problema es grave y generalizado, por lo que hace años se promueve la utilización del
                                hashtag #NOSEASPETARDO y existe un grupo en Facebook con el mismo nombre para ayudar a
                                las personas cuyas mascotas sufren esta fobia a los petardos y concienciar sobre los
                                efectos de la pirotecnia en los perros. Actores, escritores y otros personajes famosos
                                como Dani Rovira o Rosa Montero han colaborado en esta labor de concienciación.
                                <br>
                                <br>
                                “El miedo a los ruidos de petardos, en general, a los ruidos estridentes como los
                                timbres, ciertos vehículos, fuegos artificiales, obras… es en muchos casos realmente una
                                fobia y debe tratarse de manera anticipada a que se produzcan esos ruidos. La forma de
                                hacerlo es, sobre todo, a través pautas de comportamiento”, explica Marta Arroyo,
                                etóloga y educadora canina de IntegranDog .
                                <br>
                                <br>
                                Y entre sus consejos destacan los siguientes:
                                • Al salir de paseo con tu perro, evita los lugares donde creas que es probable que
                                tiren petardos o se lancen fuegos artificiales.
                                • No dejes a tu perro o gato solo en casa cuando sepas seguro que va a ver petardos,
                                fuegos artificiales, etc.
                                • Cierra todas las ventanas y puertas para reducir en la medida de lo posible el sonido
                                del exterior.
                                • Prepara una zona donde pueda refugiarse como una especie tienda de campaña, una casita
                                con una caja… y quédate a su lado en los momentos de más estruendo.
                                • Pon música relajante a un volumen elevado a modo de barrera acústica. Lo ideal es que
                                el animal haya escuchado esa música en otras ocasiones previas, en momentos en los que
                                está calmado, así tendrá más efecto relajante y no la asociará a algo negativo para él
                                como son los ruidos de petardos.
                                <br>
                                <br>
                                Pero mientras se produce “el bombardeo”, ¿debemos consolar a nuestros peludos? “Es
                                positivo acompañarles cuando sienten miedo, al igual que nos sucede a nosotros cuando
                                estamos asustados. Lo importante es la manera en que se realiza ese acompañamiento, que
                                debe ser desde la calma, para ayudar a que estén más tranquilos. Si lo hacemos desde la
                                preocupación, sólo estaremos provocando que se pongan aún más nerviosos. También les
                                podemos dar masajes, si les gustan, para ayudar a que se tranquilicen más rápido y se
                                sientan más seguros”, explica Arroyo.
                                <br>
                                <br>
                                Además, esta etóloga añade que en algunos casos, podemos tratar de desviar la atención
                                de los petardos o de los truenos jugando. “No todos los perros podrán jugar, dependerá
                                del nivel de miedo que estén experimentando. Podemos intentarlo con juegos de
                                estimulación mental muy sencillos, mucho más de lo que el perro esté acostumbrado, ya
                                que cuando uno tiene miedo, concentrarse resulta mucho más complicado. Si conseguimos
                                inducir ese estado de concentración, rebajaremos la ansiedad y el miedo”, comenta.
                                <br>
                                <br>
                                Un gato recibe un tranquilizante natural en gotas. Herbolario Sol de invierno
                                <br>
                                <br>
                                Remedios naturales
                                <br>
                                <br>
                                Para casos de pánico extremo existen medicamentos sedantes, pero que deben administrarse
                                siempre bajo prescripción veterinaria. De todos modos, muchas veces no es posible
                                emplear ese tipo de calmantes químicos por sus efectos secundarios. Están
                                contraindicados, por ejemplo, en caso de que el animal padezca enfermedades cardiacas,
                                hepáticas, renales, epilepsia, entre otras.
                                <br>
                                <br>
                                ¿Qué otras opciones existen? Pues hay una serie de productos elaborados que favorecen un
                                estado de calma y bienestar evitando riesgos. Son los llamado nutracéuticos. “Son
                                suplementos dietéticos y remedios herbales elaborados con ingredientes naturales que
                                ayudan a tranquilizar a los animales en momentos puntuales. La vía olfativa, por
                                ejemplo, es muy efectiva. La aromaterapia, es decir, aceites esenciales como el de
                                lavanda, ylang-ylang, manzanilla romana o incienso tienen efecto calmante. También hay
                                mezclas herbales y suplementos con triptófano de administración oral que les
                                tranquilizarán. Y técnicas como el Tellington Ttouch, a base de colocación de vendas
                                elásticas y realización de sencillos masajes que resultan útiles”, explica Esther
                                García, directora de Herbolario para animales Sol de invierno.
                                <br>
                                <br>
                                Un perro huele aceite esencial con efecto calmante. Herbolario Sol de invierno
                                En el mercado también existen pr oductos en forma de collares o difusores que copian de
                                forma sintética ciertas feromonas de perros y gatos generando olores familiares para
                                ellos que les resultan agradables y tienen un ligero efecto calmante.
                                <br>
                                <br>
                                No olvidemos que otros animales domésticos como pájaros, conejos o hámsteres también
                                pueden sufrir estrés acústico. En este caso, lo mejor es acudir a un veterinario
                                especializado en animales exóticos o protectoras especializadas en este tipo de animales
                                como La Madriguera, que sabrán aconsejar cómo actuar.
                                <br>
                                <br>
                                Tomado de PACMA
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
