<% include ../partials/head.ejs %>
<div class="navbar"></div>
<div style="margin-top: 7vw;"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 Terminos">
            <h1 style="text-align: center;">TERMINOS Y CONDICIONES GENERALES PARA EL USO DEL SISTEMA MASCOTA SEGURA</h1>
            <ol>
                <li>Relación Contractual y Términos de Uso
                    <ol>
                        <li>Este acuerdo establece los términos y condiciones que se aplican al uso de los servicios de
                            almacenamiento de datos de emergencia de personas y datos de mascotas y animales de compañía
                            para su utilización vía internet en caso de emergencia o pérdida respectivamente; a través
                            del sistema denominado MASCOTA SEGURA de exclusiva propiedad y administración de A1 Card’s
                            Ltda.
                        </li>
                        <li>Se conoce como EL CLIENTE a la persona natural o jurídica quien al registrarse y utilizar el
                            servicio MASCOTA SEGURA o adquirir alguno de los productos suscritos a la misma: (i) ha
                            aceptado los términos y condiciones del presente Contrato; y (ii) tiene la capacidad legal
                            para suscribir este contrato, conoce y acepta la extensión y alcance de los derechos que
                            adquiere y de las obligaciones que asume.
                        </li>
                        <li>El CLIENTE declara que conoce y acepta todos los términos y condiciones del presente
                            contrato, por lo que reconoce expresamente que el correcto uso del servicio MASCOTA SEGURA
                            es responsabilidad exclusivamente suya.
                            Si EL CLIENTE no está de acuerdo con los términos y condiciones del uso de MASCOTA SEGURA,
                            así como las políticas de privacidad, debe notificar a A1 Card’s Ltda. Para proceder con la
                            eliminación de su cuenta, además de abstenerse de usar los productos o servicios de MASCOTA
                            SEGURA.
                        </li>
                        <li>Con carácter general, el usuario se obliga al cumplimiento de las presentes Condiciones
                            Generales, o en su caso condiciones particulares que fueran de aplicación, así como cumplir
                            las advertencias e instrucciones de uso contenidas en la misma, en los sitios web o manuales
                            de uso de los accesorios y obrar siempre conforme a la ley y a las buenas costumbres,
                            empleando la diligencia adecuada a la naturaleza del servicio del que disfruta,
                            absteniéndose de utilizar el sistema de cualquier forma que pueda impedir, dañar o
                            deteriorar el normal funcionamiento del mismo, los bienes o derechos de MASCOTA SEGURA, sus
                            proveedores, el resto de usuarios o en general de cualquier tercero.
                        </li>
                    </ol>

                </li>
                <li>Comparecientes<br>
                    El presente acuerdo se celebra entre los suscritos: La compañía A1 Card’s Ltda. sociedad debidamente
                    constituida de contrato a las leyes de la República de Colombia, domiciliada en la ciudad de Bogotá,
                    propietaria de todos los derechos determinados en el mismo y, EL CLIENTE quien utiliza y se
                    beneficia del servicio MASCOTA SEGURA.
                </li>
                <li>
                    Definiciones
                    <ol>
                        <li>CLIENTE: persona natural o jurídica que contrata los servicios de almacenamiento de datos de
                            emergencia de personas y datos de mascotas y animales de compañía para su utilización vía
                            internet en caso de emergencia o pérdida respectivamente.
                        </li>
                        <li>Accesorios personales: Dijes, stickers, tarjetas y otros modelos que A1 Card’s Ltda. ofrezca
                            al mercado, incluyendo códigos QR y chip NFC
                        </li>
                        <li>Placa para mascotas o animales de compañía: Placa de identificación para mascotas, que se
                            coloca normalmente en su collar y que contiene un código QR y un chip NFS cuya información
                            será guardada en los servidores de MASCOTA SEGURA y a la que se puede acceder por medio de
                            la página web www.mascotasegura.co
                        </li>
                        <li>Registro en línea.- EL CLIENTE podrá inscribirse en el sistema automáticamente desde la
                            página web www.mascotasegura.co
                        </li>
                        <li>Usuario.- Es la persona que EL CLIENTE ha designado para utilizar el sistema MASCOTA SEGURA,
                            quien para efectos de registro será representado por EL CLIENTE identificado con su correo
                            electrónico.
                        </li>
                        <li>Clave.- Es la combinación de caracteres utilizados a manera de contraseña, la misma es
                            personal e intransferible, ésta será usada por EL CLIENTE para acceder al programa. El uso
                            de la misma es de exclusiva responsabilidad de EL CLIENTE.
                        </li>
                    </ol>
                </li>
                <li>Registro y uso del Sistema
                    <ol>
                        <li>Cuando el usuario se registra, acepta proveer información exacta, completa y actualizada que
                            se requiera para completar el formulario, sin que A1 Card’s Ltda. tenga la obligación de
                            supervisar o controlar tal información.
                        </li>
                        <li>A1 Card’s Ltda. se reserva el derecho de usar cualquier acción legal posible para
                            identificar a los usuarios, así como requerir, en cualquier momento, documentación extra que
                            se considere apropiado para verificar la información proporcionada por el usuario.
                        </li>
                        <li>A1 Card’s Ltda. no se responsabiliza por cualquier daño como resultado de la pérdida o mal
                            uso de la clave de usuario por parte de terceros. EL CLIENTE es el único responsable por
                            ello.
                        </li>
                        <li>MASCOTA SEGURA no se hace responsable por la aparición o recuperación de la mascota;
                            confiamos en la buena fe de las personas al devolverla.
                        </li>
                        <li>EL CLIENTE es responsable de cumplir con las indicaciones dadas por MASCOTA SEGURA para
                            activar el sistema de geolocalizacion, seguir los procedimientos de emergencia recomendados
                            por MASCOTA SEGURA y buscar a la mascota por su cuenta.
                        </li>
                        <li>El sistema de geolocalización solo puede ser activado si la persona que encuentra a la
                            mascota, permite a MASCOTA SEGURA y GOOGLE Inc. Acceder a su ubicación satelital.
                        </li>
                    </ol>
                </li>
                <li>Términos y condiciones<br>
                    Este documento de términos de uso “Condiciones Generales” es aplicable y es el mismo que se
                    utilizará para el uso de los servicios ofrecidos por MASCOTA SEGURA, ya sea a través del sitio web
                    www.mascotasegura.co
                    A1 Card’s Ltda. limita el servicio prestado a lo siguiente:
                    <ol>
                        <li>Permitir que EL CLIENTE se registre en el sistema “DATOS DE EMERGENCIA” y genere
                            automáticamente una cuenta de usuario con su correo electrónico.
                        </li>
                        <li>A1 CARD’S LTDA. permitirá a EL CLIENTE el acceso al sistema para que ingrese datos generales
                            y datos médicos de su mascota que serán visibles al escanear el código QR y/o leer el chip
                            NFC.
                        </li>
                        <li>Toda la información almacenada en el usuario del sistema MASCOTA SEGURA es propiedad de EL
                            CLIENTE. A1 CARD’S LTDA. no accederá a dicha información detallada, sin que ello signifique
                            que no pueda realizar conteos estadísticos generales, sin afectar a la información personal
                            de EL CLIENTE.
                        </li>
                        <li>EL CLIENTE puede hacer uso del sistema MASCOTA SEGURA en cualquiera de sus formatos.</li>
                        <li>Las funcionalidades a las que tiene acceso EL CLIENTE se publicarán en la página informativa
                            www.MASCOTASEGURA.com
                        </li>
                        <li>A1 Card’s sus filiales, subsidiarias, proveedores de servicios, así como sus directores,
                            funcionarios, apoderados, representantes, empleados y colaboradores no serán responsables
                            frente a EL CLIENTE, ni terceros, por cualquier daño, lucro cesante, daño emergente, pérdida
                            de ingresos, ventas, datos o costos de consecución de bienes o servicios sustitutos, daños a
                            la propiedad, lesiones personales, interrupción de negocios, pérdida de información, o de
                            cualquier daño especial, directo, indirecto o incidental, como quiera que haya sido causado,
                            ya sea que se derive del uso o la incapacidad de usar la plataforma. Tampoco serán
                            responsables por el acceso autorizado o no autorizado, debido a mal uso de las credenciales
                            de usuario, a la información almacenada en MASCOTA SEGURA, así como del mal uso, uso no
                            autorizado o uso con fines ilegales del servicio por parte de EL CLIENTE.
                        </li>
                        <li>A1 CARD’S LTDA. no será responsable por cualquier falla, incorrección o imprecisión en la
                            información generada o ingresada por EL CLIENTE. A1 CARD’S LTDA. implementará las
                            validaciones necesarias para que estos errores de ingreso de información se minimicen, sin
                            embargo la responsabilidad sobre la información será de EL CLIENTE.
                        </li>
                        <li>En caso de confirmarse algún error en el sistema, A1 CARD’S LTDA. se encargará de
                            corregirlo, tratando de causar el menor impacto posible al usuario, bajo un procedimiento
                            predefinido.
                        </li>
                        <li>El nivel de disponibilidad del sistema MASCOTA SEGURA es de 99,6%. Para lo cual no serán
                            tenidos en cuenta los tiempos de mantenimiento de la plataforma.
                        </li>
                        <li>EL CLIENTE autoriza a A1 CARD’S LTDA. recoger, utilizar y compartir datos sobre
                            comportamiento a nivel estadístico, incluyendo opiniones compartidas a través del sistema.
                            Dichos datos serán recogidos anónimamente, de forma que no puedan ser utilizados para
                            identificar o revelar información de identidad personal. A1 CARD’S LTDA. Podrá usar dichos
                            datos para agregar nuevas funcionalidades o mejorar los productos y servicios prestados o
                            desarrollados por A1 CARD’S LTDA., sus socios, distribuidores o licenciatarios.
                        </li>
                        <li>Los servicios que presta A1 CARD’S LTDA. a EL CLIENTE son los indicados específicamente en
                            este documento.
                        </li>
                        <li>Los términos de uso no generan ninguna sociedad, franquicia o relación laboral entre EL
                            CLIENTE y A1 CARD´S
                        </li>
                        <li>En caso de caída o falla de servicio MASCOTA SEGURA, A1 CARD’S LTDA. se reserva la
                            posibilidad de restaurar el servicio en un tiempo de 24 horas, para ello contará con un
                            respaldo de la información de manera local.
                        </li>
                        <li>Los términos de este contrato pueden cambiar por parte de A1 CARD’S LTDA. en cualquier
                            momento. Los cambios serán obligatorios automáticamente en la fecha de publicación de la
                            nueva versión en la página web.
                        </li>
                        <li>A1 CARD’S LTDA. no tiene relación comercial o de otro tipo con entidades gubernamentales, y
                            garantiza la privacidad de la información de acuerdo a las leyes vigentes para el efecto.
                        </li>
                        <li>EL CLIENTE se abstiene de introducir, almacenar o difundir en o desde los sistemas,
                            información o material alguno de carácter difamatorio, injurioso, obsceno, amenazador,
                            xenófobo, que inciten a la violencia a la discriminación por razón de raza, sexo, ideología,
                            religión o que de cualquier forma atenten contra, la moral, el orden público, los derechos
                            fundamentales, las libertades públicas, el honor, la intimidad o la imagen de terceros y en
                            general la normativa vigente.
                        </li>
                        <li>EL CLIENTE no debe realizar actividades publicitarias, promocionales o de explotación
                            comercial a través de los sistemas, sin utilizar los contenidos y en particular la
                            información obtenida a través de la Tienda para remitir publicidad, enviar mensajes con
                            fines de venta directa o con cualquier otro fin comercial, ni para recoger o almacenar datos
                            personales de terceros.
                        </li>
                        <li>EL CLIENTE no debe utilizar identidades falsas, ni suplantar la identidad de otros en la
                            utilización de los sistemas o de cualquier servicio de A1 CARD’S, incluyendo la utilización
                            en su caso de contraseñas o claves de acceso de terceros o de cualquier otra forma.
                        </li>
                        <li>Si un cliente desea realizar una sugerencia o reclamo puede hacerlo escribiendo al correo
                            electrónico: soporte@mascotasegura.com
                        </li>
                    </ol>
                </li>
                <li>
                    Plazo y Renovación
                    <ol>
                        <li>Una vez activado el servicio MASCOTA SEGURA, El CLIENTE podrá utilizarlo indefinidamente, y
                            podrá adquirir tantos accesorios como guste.
                        </li>
                        <li>A1 CARD’S LTDA.se reserva el derecho de suspender el servicio si advierte que el cliente ha
                            violado alguna de las disposiciones a las que se comprometió al comprar el producto.
                        </li>
                    </ol>
                </li>
                <li>Política de Privacidad
                    <ol>
                        <li>A1 CARD’S LTDA. implementará medidas de seguridad adecuadas para salvaguardar y ayudar a
                            prevenir el acceso no autorizado, modificación, divulgación no autorizada o el retiro sin
                            autorización de cualquier información recolectada de los usuarios.
                        </li>
                        <li>La información detallada de EL CLIENTE no será divulgada a terceros por parte de A1 CARD’S
                            LTDA.
                        </li>
                        <li>A1 CARD’S LTDA. no será responsable de ninguna pérdida de datos de EL CLIENTE, como
                            resultado del uso de buena fe, o por motivos de fuerza mayor. A1 CARD’S LTDA. implementará o
                            contratará la infraestructura necesaria para minimizar este riesgo.
                        </li>
                        <li>Si El CLIENTE considera que su información ha sido mal utilizada puede enviar una
                            notificación al correo SOPORTE@MASCOTASEGURA.co
                        </li>
                    </ol>
                </li>
                <li>
                    Licencia
                    <ol>
                        <li>A1 CARD’S LTDA. brinda a EL CLIENTE, una licencia limitada, personal, exclusiva,
                            intransferible, no comercial y totalmente revocable para utilizar el Sitio Web en
                            conformidad y por contrato de los términos contenidos en este documento.
                        </li>
                        <li>A1 CARD’S LTDA. se reserva todos los derechos sobre el Sitio Web no expresamente concedidos
                            aquí.
                        </li>
                        <li>A1 CARD’S LTDA. no se hace responsable de ningún daño sufrido por el usuario que realiza una
                            copia, transferencia, distribución, piratería o uso de cualquier contenido del Sitio Web
                            protegido, violando los derechos de autor determinado en las normas, regulaciones,
                            reglamentos y más contentivos de la Ley de Derechos de Autor.
                        </li>
                    </ol>
                </li>
                <li>
                    Protección de Marcas y Nombres de A1 CARD’S LTDA. Y MASCOTA SEGURA.
                    <ol>
                        <li>Todas las marcas, contenidos, diseños, textos, gráficos, nombres de dominio, logotipos
                            iconos, software y en general el sistema MASCOTA SEGURA que se proporciona a los usuarios
                            son propiedad intelectual de A1 CARD’S LTDA. y como tal, no pueden ser copiadas, imitadas o
                            utilizadas de forma parcial o total sin el consentimiento previo escrito de A1 CARD’S LTDA.
                        </li>
                        <li>En ningún caso se entenderá que se concede licencia alguna o que se efectúa renuncia,
                            transmisión, cesión total o parcial de dichos derechos ni que se confiere ningún derecho ni
                            expectativa de derecho, y en especial, de alteración, explotación, reproducción,
                            distribución o comunicación pública sobre dichos contenidos sin la previa autorización
                            expresa de A1 CARD’S LTDA. o de los titulares correspondientes.
                        </li>
                    </ol>
                </li>
                <li>
                    Garantía<br>
                    A1 CARD’S LTDA. garantiza el producto en los términos legalmente establecidos, durante un período de
                    seis meses a partir de la fecha de registro en el sistema. La responsabilidad total de A1 CARD’S
                    LTDA., por cualquier concepto, no excederá en ningún caso, del valor total del producto defectuoso
                    suministrado. A1 CARD’S LTDA. responderá, por tanto, de cualquier falta de conformidad que existiera
                    en el momento de registro y durante los seis meses siguientes a la entrega. La garantía cubre tanto
                    la mano de obra como las piezas a sustituir, así como los gastos de envío. Para hacer efectiva la
                    garantía contacte con nosotros por los medios indicados.
                </li>
                <li>
                    Efectos del Contrato. Jurisdicción y Ley aplicable
                    <ol>
                        <li>Este acuerdo surte efecto desde el momento en que el usuario acepta sus términos y
                            condiciones conforme se indicó en las cláusulas anteriores. Las partes declaran como lugar
                            de su celebración la ciudad de Bogotá dentro del territorio de la República de Colombia.
                        </li>
                        <li>Para todos los efectos derivados del presente contrato, las partes se someterán a la
                            legislación y jurisdicción de la República de Colombia y fijan su domicilio en la ciudad de
                            Bogotá, Colombia.
                        </li>
                        <li>En caso de controversias las partes se someten a las normas y reglas de cualquier Centro de
                            Mediación y Arbitraje legalmente reconocido que opere en la ciudad de Bogotá; la parte
                            declarada responsable o incumplidora asumirá todos los costos, gastos e intereses que se
                            generen durante el proceso y hasta el cumplimiento o pago definitivo de lo ordenado en el
                            laudo.
                        </li>
                        <li>Son aplicables las normas del Código Civil, de la Ley de Derechos de Autor, pero
                            principalmente las contentivas en LEY DE COMERCIO ELECTRÓNICO, FIRMAS ELECTRÓNICAS Y
                            MENSAJES DE DATOS
                        </li>
                    </ol>
                </li>
                <li>
                    Anexos<br>
                    Al aceptar este contrato, el suscrito declara conocer y aceptar todas las estipulaciones de sus
                    Anexos; y que toda la información proporcionada es correcta y completa; además declara que acepta
                    pagar los valores a los que se obliga, en la forma convenida.
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<div id="alert" style="position: fixed;bottom: 5px;left:2%;width: 96%;"></div>

<% include ../partials/footer.ejs %>
