<!DOCTYPE html>
<html>
<body>
<form action="/admin" method="post">
    First name: <input type="text" name="id"><br>
    Last name: <input type="text" name="token"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>

